
Verbrauch eines Gerätetyps.py

Verbrauch eines Gerätetyps.py

Python-Tutorial/.DS_Store

Python-Tutorial/Farid/.DS_Store

Python-Tutorial/Jakob/.DS_Store

Release/Platine_Leiterplatte.png

Release/Platine_Leiterplatte.png

Arbeit/u.pxm

Release/Platine_Leiterplatte.png

Schaltplan.png

Schaltplan.png
